.app-draft-buffer-wrapper {
  background-color: #a2a0f3;
  padding: 10px 15px;

}

.app-draft-buffer__title {
  margin: 0;
  padding: 0;    
  margin-bottom: 10px;
  color: #fff;
}

.app-draft-buffer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
